@import url('http://fonts.googleapis.com/css?family=Lobster|Roboto:700,300,100,100italic');
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

// body
// {
// 	max-width: 600px;	
// }
header{
	background-color: $dark-grey;
	position: fixed;
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 999;
	display: block;
	height: 100px;
	@include shrink-transition(height 0.3s);

	h1 {
		margin-left: 200px;
		font-family: $font-title;
		height: 100px;
		line-height: 100px;
		font-size: 60px;
		color: white;
		display: inline-block;
		@include shrink-transition(all 0.3s);
	}

	nav {
		margin-right: 200px;
		display: inline-block;
		float: right;
		a {
			text-decoration: none;
			color: #a0a0a0;
			@include shrink-transition(all 0.3s);
			font-family: $font-maintext;
			font-weight: 300;
			font-size: 18px;
			margin-left: 20px;
			line-height: 100px;
		}
		
		a:hover {
			color: white;
		}
	}
}

.position {
	font-weight: 700;
	color: white;
}

.smaller {
	height: 50px;

	h1 {
		height: 40px;
		width: 300px;
		line-height: 50px;
		font-size: 40px;
	}
	nav a {
		line-height: 50px;
	}
}

main {
	padding-top: 100px;
	background-color: $lightest-grey;
	section {
		padding-right: 200px;
		padding-left: 200px;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 500px;
		h1 {
			font-family: $font-maintext;
			font-weight: 100;
			font-size: 40px;
		}
		p {
			font-family: $font-maintext;
			font-weight: 300;
			font-size: 20px;
		}
		// #about {
		// 	//background-color: $orange;
		// }
		// #projects {
		// 	background-color: $blue;
		// }
		// #whatever {
		// 	background-color: $orange;
		// }
		// #stuff {
		// 	background-color: $blue;
		// }
	}
}
#background {
	position: fixed;
	width: 100%;
}
#home {
	background-color: $lightest-grey;
	h1 {
		color: $cool-red;
	}
	p {
		color: $dark-grey;
	}
}
#about {
	background-color: $cool-red;
	h1 {
		color: white;
	}
	p {
		color: $dark-grey;
	}
}
#projects {
	background-color: $lightest-grey;
	h1 {
		color: $cool-red;
	}
	p {
		color: $dark-grey;
	}
}
#whatever {
	background-color: $cool-red;
	h1 {
		color: $lightest-grey;
	}
	p {
		color: $dark-grey;
	}
}
#stuff {
	background-color: $lightest-grey;
	h1 {
		color: $cool-red;
	}
	p {
		color: $dark-grey;
	}
}

footer {
	background-color: $dark-grey;
	height: 50px;
	line-height: 50px;
	padding: 0 200px 0 200px;
	h3 {
		font-size: 18px;
		font-family: $font-maintext;
		font-weight: 100;
		color: $light-grey;
		display: inline-block;
	}
	p {
		font-size: 18px;
		font-family: $font-maintext;
		font-weight: 100;
		color: $light-grey;
		display: inline-block;
		float: right;
		a {
			text-decoration: none;
			color: $light-grey;
		}
		a:hover {
			color: white;
		}
	}
}


.test {
	display: block;
	font-size: 30px;
	font-family: $font-maintext;
	font-weight: 100;
	// font-style: italic;
	height: 2000px;
	background-color: #bbbbbb;
	color: $dark-grey;
}