@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//enables navbar shrinkage
@mixin shrink-transition($type-and-duration) {
	-webkit-transition: $type-and-duration;
       -moz-transition: $type-and-duration;
        -ms-transition: $type-and-duration;
         -o-transition: $type-and-duration;
            transition: $type-and-duration;
}

//linear fade
//used in the top bit with the fixed image;
@mixin linear-fade($r, $g, $b, $a1, $a2) {
	background: -webkit-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
  	background:      -o-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
  	background:	   -moz-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
  	background: 		linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
}

//linear fade that also has a background image
//used in the carousel
@mixin linear-fade-img($r, $g, $b, $a1, $a2, $img) {
	background: -webkit-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($img) no-repeat;
  	background:      -o-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($img) no-repeat;
  	background:	   -moz-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($img) no-repeat;
  	background: 		linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($img) no-repeat;
}

@mixin columns ($count, $gap, $gap-style) {
	-webkit-column-count: $count;
       -moz-column-count: $count;
    	    column-count: $count;

    -webkit-column-gap: $gap;
       -moz-column-gap: $gap;
    	    column-gap: $gap;

    -webkit-column-rule: $gap-style;
       -moz-column-rule: $gap-style;
    		column-rule: $gap-style;
}