$dark-grey		: #0f0f0f;
$light-grey		: #a0a0a0;
$lighter-grey	: #dbdbdb;
$lightest-grey	: #f0f0f0;
$cool-red		: #aa0000;

$font-title: Lobster, serif;
$font-maintext: Roboto;

$default-border-radius : 10px;